[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[pom.xml]
indent_size = 2
indent_style = space
max_line_length = 120

[*.{kt,kts}]
max_line_length = 120
ktlint_code_style = intellij_idea

# I find trailing commas annoying
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
